.stripe {
    position: fixed;
    top: 37.5vh;
    left: 0;
    width: 100vw;
    height: 25vh;
    background: tomato;
    z-index: 0;
    mix-blend-mode: darken;
    pointer-events: none;
}

.stripe .next, .stripe .prev {
    pointer-events: auto;
    appearance: none;
    font-family: "Space Mono", monospace;
    background: transparent;
    color: white;
    outline: none;
    position: absolute;
    top: 50%;
    left: calc(50vw - 47vmin);
    cursor: pointer;
    height: 4vmin;
    width: 4vmin;
    font-size: 2vmin;
    border: none;
    box-sizing: border-box;
}

.stripe .next {
    transform: translateY(50%);
    border-top: none;
}

.stripe .prev {
    transform: translateY(-140%);
}

section {
    position: relative;
    height: 60vh;
}

section:nth-child(1) .image__top, section:nth-child(1) .image__bottom, section:nth-child(1) .image__inner {
    background-image: url("https://picsum.photos/801/601?image=321");
}

section:nth-child(2) .image__top, section:nth-child(2) .image__bottom, section:nth-child(2) .image__inner {
    background-image: url("https://picsum.photos/802/602?image=208");
}

section:nth-child(3) .image__top, section:nth-child(3) .image__bottom, section:nth-child(3) .image__inner {
    background-image: url("https://picsum.photos/803/603?image=608");
}

section:nth-child(4) .image__top, section:nth-child(4) .image__bottom, section:nth-child(4) .image__inner {
    background-image: url("https://picsum.photos/803/603?image=565");
}

section:nth-child(5) .image__top, section:nth-child(5) .image__bottom, section:nth-child(5) .image__inner {
    background-image: url("https://picsum.photos/804/604?image=218");
}

section:nth-child(6) .image__top, section:nth-child(6) .image__bottom, section:nth-child(6) .image__inner {
    background-image: url("https://picsum.photos/805/605?image=1032");
}

.image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    width: 80vmin;
    height: 60vmin;
    transition: -webkit-transform 1000ms cubic-bezier(0.77, 0, 0.175, 1);
}

.image__top, .image__bottom, .image__inner {
    width: 100%;
    background-size: 80vmin 60vmin;
}

.image__top {
    height: 50%;
    background-position: top;
}

.image__bottom {
    height: 50%;
    background-position: 0 99%;
}

.image__stretch {
    height: 20%;
    overflow: hidden;
    position: relative;
    z-index: 2;
    margin: -1px 0;
}

.image__inner {
    position: absolute;
    width: 100%;
    height: 100%;
    background-position: 0 50%;
    transform: scaleY(1000);
}

.text {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    z-index: 2;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-size: 0;
    color: white;
    cursor: default;
    user-select: none;
    font-weight: 700;
    line-height: 0.9;
    padding-top: 5vh;
}

.text__word {
    display: block;
    font-size: 10vmin;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px white;
}

.text__subtitle {
    margin-top: 3vh;
    letter-spacing: 0.1em;
    font-weight: 200;
    font-family: 'Megrim', cursive;
    line-height: 1.3;
}

.text__subtitle a {
    color: white;
    cursor: pointer !important;
}

.text__subtitle a:hover {
    background-color: #fc644d;
}

@media screen and (max-width: 480px) {
    .text__subtitle {
        font-size: 6vmin;
    }
}

@media screen and (min-width: 481px) and  (max-width: 720px) {
    .text__subtitle {
        font-size: 5vmin;
    }
}

@media screen and (min-width: 721px) {
    .text__subtitle {
        font-size: 4vmin;
    }
}
