.impressum h1, a, p {
    color: #000;
    font-family: 'Poppins', sans-serif;
}

.impressum h1 {
    text-align: center;
    margin-bottom: 4rem;
}

.impressum a {
    text-decoration: underline;
}

footer {
    width: 100%;
    background-color: white;
    text-align: right;
}

footer a {
    font-family: 'Megrim', cursive;
    cursor: pointer;
    margin-left: 25px;
    text-decoration: none;
    color: #000;
}

footer a:hover {
    background-color: #fc644d;
    color: #fff;
}