footer {
  font-family: 'Megrim', cursive;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  z-index: 10;
}

footer a {
  cursor: pointer;
  text-decoration: none;
  color: #000;
  width: 100%;
  text-align: center;
}

footer a:hover {
  color: #fc644d;
}

@media screen and (min-width: 319px) and  (max-width: 720px) {
  footer a {
    font-size: 5vw;
  }
}