.impressum p {
  color: #000;
  font-family: 'Poppins', sans-serif;
}

.impressum h1 {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 4rem;
  color: #fff;
  background-color: #fc644d;
}

.impressum a {
  text-decoration: underline;
  color: #000;
}
