.impressum p {
  color: $black-100;
  font-family: $font-normal;

  h1 {
    text-align: center;
    font-family: $font-normal;
    margin-bottom: 4rem;
    color: $white-100;
    background-color: $red-100;
  }

  a {
    text-decoration: underline;
    color: $black-100;
  }
}