/* RED STRIPE /w Buttons */
.stripe {
  position: fixed;
  top: 37.5vh;
  left: 0;
  width: 100vw;
  height: 25vh;
  background: $red-100;
  z-index: 0;
  mix-blend-mode: darken;
  pointer-events: none;
}

.stripe .next, .stripe .prev {
  pointer-events: $auto-align;
  appearance: none;
  font-family: $font-space;
  background: transparent;
  color: white;
  outline: none;
  position: absolute;
  top: $half-percentage;
  left: 20rem;
  cursor: pointer;
  height: $space-vmin;
  width: $space-vmin;
  font-size: $space-vmin - 2;
  border: none;
  box-sizing: border-box;
}

.stripe .next {
  transform: translateY(70%);
  border-top: none;
}

.stripe .prev {
  transform: translateY(-170%);
}

@include mobile-small {
  .stripe .next, .stripe .prev {
    left: $space-base;
  }
}

@include mobile {
  .stripe .next, .stripe .prev {
    left: $space-base;
  }
}

@include tablet {
  .stripe .next, .stripe .prev {
    left: 6%;
  }
}

@include desktop-min {
  .stripe .next, .stripe .prev {
    left: 13%;
  }
}

@include desktop {
  .stripe .next, .stripe .prev {
    left: 14%;
  }
}

@include desktop-large {
  .stripe .next, .stripe .prev {
    left: 22%;
  }
}
