/* RED STRIPE /w Buttons */
.stripe {
  position: fixed;
  top: 37.5vh;
  left: 0;
  width: 100vw;
  height: 25vh;
  background: tomato;
  z-index: 0;
  mix-blend-mode: darken;
  pointer-events: none;
}

.stripe .next, .stripe .prev {
  pointer-events: auto;
  appearance: none;
  font-family: "Space Mono", monospace;
  background: transparent;
  color: white;
  outline: none;
  position: absolute;
  top: 50%;
  left: 20rem;
  cursor: pointer;
  height: 5vmin;
  width: 5vmin;
  font-size: 3vmin;
  border: none;
  box-sizing: border-box;
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .stripe .next, .stripe .prev {
    left: 1rem;
  }
}

@media screen and (min-width: 481px) and  (max-width: 600px) {
  .stripe .next, .stripe .prev {
    left: 1rem;
  }
}

@media screen and (min-width: 601px) and (max-width: 720px) {
  .stripe .next, .stripe .prev {
    left: 6%;
  }
}

@media screen and (min-width: 721px) and (max-width: 920px) {
  .stripe .next, .stripe .prev {
    left: 13%;
  }
}

@media screen and (min-width: 921px) and (max-width: 1010px) {
  .stripe .next, .stripe .prev {
    left: 14%;
  }
}

@media screen and (min-width: 1011px) and (max-width: 1925px) {
  .stripe .next, .stripe .prev {
    left: 22%;
  }
}

.stripe .next {
  transform: translateY(70%);
  border-top: none;
}

.stripe .prev {
  transform: translateY(-170%);
}